#logalize {
  color: black;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal; }
  #logalize.badge {
    color: white;
    background-color: black;
    border-radius: 3px;
    padding: 2px;
    margin: 0 2px; }
    #logalize.badge.blue {
      color: white;
      background-color: #61afef; }
    #logalize.badge.orange {
      color: white;
      background-color: #d19a66; }
    #logalize.badge.red {
      color: white;
      background-color: #e06c75; }
    #logalize.badge.green {
      color: white;
      background-color: #98c379; }
    #logalize.badge.cyan {
      color: white;
      background-color: #56b6c2; }
    #logalize.badge.purple {
      color: white;
      background-color: #c678dd; }
    #logalize.badge.focus {
      color: #bada55;
      background: #444; }
  #logalize.blue {
    color: #4078f2; }
  #logalize.orange {
    color: #986801; }
  #logalize.red {
    color: #e45649; }
  #logalize.green {
    color: #50a14f; }
  #logalize.cyan {
    color: #0184bc; }
  #logalize.purple {
    color: #a626a4; }
  #logalize.bold {
    font-weight: bold; }
  #logalize.italic {
    font-style: italic; }
  #logalize.strikethrough {
    text-decoration: line-through; }
  #logalize.underline {
    text-decoration: underline; }
